@import "./reset.css";
@import "./fonts/Gilroy/stylesheet.css";

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: #070707;
  font-size: 18px;
  line-height: 22.28px;
  overflow-x: hidden;
}

.container {
  max-width: 946px;

  margin: 0 auto;
}

/* Header */
.header {
  min-height: 100vh;
}

.header__top {
  padding: 33px 0 40px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 54px;
}
.header__title {
  max-width: 124px;
  font-size: 47px;
  line-height: 59px;
  font-weight: 800;
}
.header__text {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}
.header__lang-row {
  display: flex;
  align-items: center;
  margin-right: -30px;
  color: #828282;
  margin-bottom: 42px;
  transform: rotate(-90deg);
}
.header__lang,
.header__lang--active {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header__lang::after,
.header__lang--active::after {
  content: "";
  margin: 0 4px;
  width: 2px;
  height: 19px;
  background-color: #000000;
}
.header__lang:last-child::after,
.header__lang--active:last-child::after {
  display: none;
}
.header__lang {
  color: #828282;
}
.header__lang--active {
  color: #000000;
}
.header__img {
  width: 100%;
  background-size: cover;
  padding-bottom: 97px;
}
.header__lang--mobile {
  display: none;
}
/* Nav */

.nav__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  padding-bottom: 32px;
}
.nav__list:after {
  content: "";
  width: 100%;
  top: 41px;
  height: 2px;

  position: absolute;
  background-image: url(/img/header/header__Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.nav__list a {
  transition: color 0.5s;
  color: #828282;
}
.nav__list a:hover {
  color: black;
}
.nav__img {
  width: 100%;
  background-size: cover;
}

/* about*/

.about {
  min-height: 506px;
  padding: 124px 0 110px 0;
  background-color: #f6f6f6;
}
.about__top {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 50px;
}

.about__text {
  height: 218px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

/* Skills */
.skills {
  padding: 98px 0 111px 0;
}
.skills__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__top {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 69px;
  text-align: center;
}
.skills__text {
  font-size: 18px;

  margin-bottom: 84px;
}

.skills__columns {
  display: flex;
  justify-content: center;
  column-gap: 90px;
  align-items: center;
}
.skills__item {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}
.item__icon {
  object-fit: contain;
  width: 89px;
  height: 88px;
}
.item__title {
  width: 80px;
  font-size: 14px;
  font-weight: 800px;
  color: #828282;
  text-align: center;
}

/* Portfolio */

.portfolio {
  background-color: #f6f6f6;
  padding: 112px 0 6px 0;
}

.porfolio__title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  font-size: 34px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 64px;
}
.portfolio__img {
  margin-bottom: 45px;
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  margin-bottom: 99px;
}

.portfolio__text a {
  color: #828282;
}

.portfolio__text a:hover {
  color: #070707;
  text-decoration-line: underline;
}

/* Footer */

.footer {
  padding: 114px 0 123px 0;
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 42px;
  font-weight: 800;
}

.footer__text {
  text-align: center;
  margin-bottom: 29px;
  font-size: 18px;
}
.footer__btn {
  margin-bottom: 85px;
  border: 1px solid black;
  background-color: black;
  color: #ffffff;
  padding: 10px 63px;
  border-radius: 50px;
}
.footer__btn:active {
  top: 1px;
}
.footer__btn a {
  color: #ffffff;
}
.footer__icons {
  display: flex;
  justify-content: center;
  column-gap: 62px;
  margin-bottom: 45px;
}
.footer__like {
  color: #828282;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

/* nav_btn */
.menu-icon-wrapper {
  /*   background: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #070707;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #070707;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #070707;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* mobile */

.nav__tooggle {
  display: none;
}

.header__img--mobile {
  display: none;
}

.portfolio__img--mobile {
  display: none;
}

/* media */

@media (max-width: 1000px) {
  .skills__columns {
    flex-wrap: wrap;
    row-gap: 81px;
  }
  .skills__item {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header__top {
    padding: 0;
  }
  .header {
    padding-top: 65px;
  }
  .header__content {
    margin-bottom: 36px;
    flex-direction: column;
    row-gap: 23px;
    align-items: flex-start;
  }
  .header__img {
    display: none;
  }
  .nav--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #ffffff;
    padding: 66px 28px 28px 28px;
    flex-direction: column;
  }
  .nav__list {
    display: none;
  }
  .nav__tooggle {
    display: block;
    position: absolute;
    right: 27px;
    top: 70px;
  }
  .nav__list::after {
    display: none;
  }
  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    font-size: 34px;
    line-height: 42px;
    color: #828282;
  }
  .nav--mobile .nav__toogle {
    position: fixed;
    top: 65px;
    right: 75px;
    width: 22px;
    height: 22px;
  }
  .nav--mobile .header__lang--mobile {
    display: block;
    position: fixed;
    bottom: 37px;
    right: 30px;
  }
  .header__lang-row {
    display: none;
  }
  .header__img--mobile {
    display: block;
  }
  .img--mobile {
    width: 100%;
    background-size: cover;
  }
  .header {
    padding: 83px 0 65px 0;
  }

  .about {
    padding: 81px 76px;
  }
  .about__top {
    margin-bottom: 29px;
  }
  .about__text {
    row-gap: 40px;
  }
  .skills {
    padding: 83px 0 98px 0;
  }
  .skills_title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
  }
  .skills__text {
    width: 227px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 70px;
  }
  .skills__item {
    width: 100%;
  }

  .portfolio__img--mobile {
    display: block;
  }
  .portfolio__img {
    display: none;
  }
  .footer {
    padding: 82px 0 90px 0;
  }
  .footer__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 27px;
    color: #000000;
  }
  .footer__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 39px;
  }
  .footer__btn {
    padding: 9px 97px;
  }
  .footer__icons {
    column-gap: 51px;
    margin-bottom: 45px;
  }
  .footer__like {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .porfolio {
    padding-top: 81px;
  }
  .porfolio__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 64px;
    color: #000000;
  }
  .portfolio__img--mobile {
    margin-bottom: 33px;
  }
  .portfolio__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 77px;
    text-align: center;
    color: #000000;
  }
}

@media (max-width: 400px) {
  .about__text {
    height: auto;
  }
  .footer__btn {
    padding: 9px 73px;
  }
}
