/* Media */
@media (max-width: 1000px) {
  .container {
    padding: 0 29px;
  }
  /* Header */
  .header {
    padding: 65px 30px 83px 29px;
  }
  .header__top {
    padding: 0;
    position: relative;
  }
  .nav__tooggle {
    position: absolute;
    right: 0;
    top: 12px;
  }
  .header__title {
    font-size: 47px;
    line-height: 58px;
    margin-bottom: 23px;
  }

  .header__text {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 22px;
  }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .nav__list {
    display: none;
  }

  .header__img--mobile {
    display: block;
  }
  .header__img {
    display: none;
  }

  /* nav */

  .nav__tooggle {
    display: block;
  }
  .nav__img {
    display: none;
  }
  .header__lang {
    display: none;
  }
  .novic {
    width: 100%;
    background-size: cover;
  }
  /* about */
  .about {
    padding: 81px 0 86px 0;
  }

  .about__text {
    font-size: 18px;
    line-height: 22px;
    left: 60;
  }
  .about__titile {
    margin-bottom: 50px;
  }

  /* Skills */

  .skills__columns {
    flex-wrap: wrap;
    row-gap: 81px;
  }
  .footer__btn {
    padding: 13px 58px;
  }
}

@media (max-width: 600px) {
  /* about */
  .about {
    padding: 81px 0 86px 0;
  }
  .about__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 29px;
  }
  .about__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }

  .text_1 {
    margin-bottom: 50px;
    text-indent: 6px;
  }
  .text_2 {
    text-indent: -14px;
    margin-bottom: 50px;
    margin-left: 8px;
  }
  .text_3 {
    margin-left: 17px;
    text-indent: -23px;
  }

  /* Skills */
  .skills {
    padding: 81px 0 98px 0;
  }
  .skills__title {
    height: 26px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
  }
  .skills__item {
    width: 100%;
  }

  .item__icon {
    max-width: 166px;
    width: 82px;
    height: 81px;
  }
  .skills__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 70px;
    color: #000000;
  }

  /* portfolio */
  .portfolio {
    padding: 80px 0 3px 0;
  }
  .porfolio__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 64px;
    color: #000000;
    margin-bottom: 64px;
  }
  .portfolio__img {
    display: none;
  }
  .portfolio__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 77px;
  }
  .portfolio__img--mobile {
    display: block;
    margin-bottom: 31px;
  }

  /* footer */
  .footer {
    padding: 82px 0 90px 0;
  }
  .footer__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }
  .footer__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #090909;

    margin-bottom: 39px;
  }
  .footer__btn {
    padding: 8px 88px;
  }

  .footer__text {
    line-height: 22px;
    text-align: center;
    color: #828282;
  }
}
